<div class="container text-center">
  <div class="row">
    <h1 class="col display-1">
      About
    </h1>
  </div>
  <div class="row">
    <h4 class="col">
      ながのCAKEは全国発送可能なケーキ屋さんです。
    </h4>
  </div>
  <div class="row">
    <h4 class="col">
      お子様からお年寄りの方までお召し上がりただけるよう、
    </h4>
  </div>
  <div class="row">
    <h4 class="col">
      様々なバリエーションをご用意しております。
    </h4>
  </div>
  <div class="row">
    <h4 class="col">
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。
    </h4>
  </div>
  <div class="row">
    <h4 class="col">
      ぜひご注文ください。
    </h4>
  </div>
</div>