<div class="container">
  <div class="row  align-self-center mt-5">
    <div class="col">
      <div class="lead text-center">
        ようこそながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品は閲覧できますが、<br>
        購入には会員登録が必要になります。<br>
      </div>
    </div>
  </div>
</div>
